.title{
    background-color: #eeeeea;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-inline: 16px;
    border-block-end: 1px solid var(--outline);
    z-index: 4;
}
.title h1{
    font-size: 24px;
    color: #333;
}
.user{
    display: flex;
    color: #fff;
    justify-content: space-between;
}
.user h3{
    display: flex;
    font-size: 16px;
}

.navbar {
    background-color: #eeeeea;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 5px 5px;
}
.navbar-container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #98c4b9;
    border: 1px solid #706e6e;
    position: sticky;
    top: -50px;
    z-index: 900;


}


.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-link li {
    margin: 0 5px;
    color: #333;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #f0f0f0;
    color: #333;
}
li .nav-link {
    color:#555;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    margin-right: 5px;
}

.search-bar button {
    border: none;
    background-color: #333;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #555;
}

.content {
    padding: 20px;
}
/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
.hero { padding-inline: 16px; }

.banner-card {
  background-color: var(--image-background);
  color: var(--white);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 480px;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  text-align: center;
  padding-inline: 20px;
  border-radius: var(--radius-8);
}

.hero .search-wrapper {
  position: relative;
  color: var(--on-background);
  border-radius: var(--radius-4);
  max-width: 480px;
  width: 100%;
  margin-inline: auto;
  margin-block: 16px 12px;
  overflow: hidden;
}

.hero .search-wrapper .leading-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.search-field {
  height: 56px;
  max-width: 500px;
  margin: 50px 24%;
  background-color: var(--primary-container);
  padding-inline: 56px;
  outline: none;
}



.search-submit:where(:hover, :focus-visible):not(:active) {
  background-color: var(--primary-hover);
}

